# Plaid API Credentials
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=development

# This is generated after running 'python main.py link'
PLAID_ACCESS_TOKEN=

# Google AI Credentials (Optional)
GEMINI_API_KEY=